.App {
  width: 100%;
  height: 100vh;
  align-items: stretch;
}

body {
  margin: 0;
  padding: 0;
}

/* Sidebar */
#sidebar-wrapper {
  min-height: 100vh;
  max-width: 300px;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  margin-right: 1rem;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  width: 300px;
  z-index: 100;
  background-color: #eceff1;
  padding: 0px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.sidebar-min {
  position: fixed;
  top: 25%;
  left: 0;
  height: 50vh !important;
  width: 60px;
  z-index: 100;
  background-color: #607d8b;
  padding: 0px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 0.5s ease-in-out;
}

.sidebar-min #sidebar-tray {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-content: space-between;
}

.sidebar-header {
  padding: 0.875rem 1.25rem;
  background-color: #b0bec5;
  text-align: center;
}

.sidebar-header h3 {
  padding: 1rem 1rem 0rem 1rem;
}

.sidebar-header #description {
  margin-bottom: 2rem;
}

.sidebar-header p {
  padding: 0;
  font-size: 0.75rem;
  margin: 0;
}

#control-tray {
  display: flex;
  padding: 0.5rem;
  justify-content: space-evenly;
}

#icon {
  font-size: 1.25rem;
  cursor: pointer;
  color: #263238;
  transition: all 0.5s ease-in-out;
}

#icon:hover {
  transition: 0.2s;
  color: #607d8b;
}

.sidebar-subheader {
  padding: 0.75rem 0.875rem;
  font-size: 1.2rem;
}

.sidebar-subheader h4 {
  font-weight: bold;
  font-size: 1.25rem;
}

.metrics-min {
  padding: 1rem 0rem 1rem 0rem;
}

.sidebar-footer {
  padding: 0.875rem 1.25rem;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.filters {
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1.2rem;
}

.filters #filter {
  margin: 0rem 0rem 0.5rem 0rem;
}

.filters #button-group {
  display: flex;
  justify-content: right;
  margin-top: 1rem;
}

.filters #button {
  margin: 0.125rem;
}

.sidebar-textsearch {
  margin: 1rem 0rem 0rem 0rem;
  width: auto;
  height: 2rem;
  padding: 0em;
}

.sidebar-textsearch .input {
  width: 2rem;
}

/* https://marcoslooten.com/blog/creating-avatars-with-colors-using-the-modulus/ */
#avatar-icon {
  width: 2rem;
  height: 2rem;
  background-color: #263238;
  border-radius: 50%;
  font-family: sans-serif;
  color: #b0bec5;
  font-weight: bold;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* React Bootstrap paginator */
.pagination > li > a {
  background-color: white;
  color: #8f8f8f;
}

.pagination > li > span {
  background-color: #8f8f8f !important;
  border-color: #8f8f8f !important;
  cursor: "pointer";
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus {
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > li > span:hover {
  opacity: 0.5;
  cursor: "pointer";
}


@media (max-width: 900px) {
  #sidebar-wrapper {
    display: none;
  }
  #side-container {
    display: none;
  }

  #main-wrapper {
    margin-left: 5rem !important;
    margin-top: 1rem !important;
  }

  .annotation-col {
    height: 95vh !important;
  }

  #project-navbar {
    display: none;
  }

  .sidebar-min #sidebar-tray #icon {
    font-size: 1.5rem;
    color: #eceff1;
    opacity: 0.75;
  }

  .sidebar-min #sidebar-tray #icon:hover {
    opacity: 1;
  }
}

@media (min-width: 900px) {
  #sidebar-min-wrapper {
    display: none;
  }
}
