.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* React Bootstrap Pagination Styling */

.pagination > li > a
{
    background-color: white;
    color: #8F8F8F;
}

.pagination > li > span
{
  background-color: #8F8F8F !important;
  border-color: #8F8F8F !important;
  cursor: 'pointer';
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus
{
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > li > span:hover
{
  opacity: 0.5;
  cursor: 'pointer';
}