/* CREATE PROJECT */

.create {
}

.create #section-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
  background-color: #cfd8dc;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
}

.create .schema #input-row {
  justify-content: center;
  margin: 1rem 0rem 0.5rem 0rem;
}

.create .schema #preview-row {
  max-height: 20vh;
  overflow-y: auto;
  margin: 1rem 1rem 0rem 1rem;
}

.create .schema #preview-row #create-tag-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: 0.2rem;
  font-weight: bold;
}

.create .schema #preview-row #create-tag-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.create .schema #preview-row #create-tag-remove-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  background-color: #f44336;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border-radius: 0.2rem;
  margin: 0rem 0rem 0rem 0rem;
}

.create #remove-button {
  color: white;
  background-color: #f44336;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  border-radius: 0.2rem;
}

.create #add-button {
  color: white;
  background-color: #43a047;
  cursor: pointer;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 0.2rem;
}

.create #section-subtitle {
  font-weight: bold;
  color: #455a64;
  margin: 0em 0em 0.25em 0em;
}

.create #info-label {
  margin-left: 2px;
  color: grey;
}

.create .preview-container {
  background-color: rgba(0, 0, 0, 0.025);
  padding: 0.5rem;
  overflow-y: auto;
  /* max-height: 15rem; */
  height: 100%;
  width: 100%;
  min-height: 10rem;
  border: 1px solid #b0bec5;
}

.create .preview-container-editable {
  background-color: rgba(0, 0, 0, 0.025);
  padding: 0.5rem;
  overflow-y: auto;
  height: 20vh;
  min-height: 2rem;
  width: 100%;
  outline: none !important;
  border: 1px solid #b0bec5;
  resize: none;
  overflow: auto;
}

.create .preview-container-editable:focus {
  border: 1px solid black;
}

input[type="file"] {
  display: none;
}

.create #upload-btn {
  display: inline-block;
  cursor: pointer;
  border-radius: 0.2rem;
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  line-height: 1.5;
  border: 1px solid #78909c;
  padding: 0.25rem;
  background-color: #607d8b;
  color: white;
  opacity: 0.9;
  user-select: none;
}

.create #upload-btn:hover {
  opacity: 1;
}

.create #upload-text-muted {
  font-size: 0.75rem;
  margin: 0;
  margin-top: -0.25rem;
  padding: 0;
  color: #607d8b;
  margin-left: 0.25rem;
}

.create #create-col {
  margin: auto;
  width: 100%;
  max-width: 1000px;
  justify-content: center;
  background-color: white;
  min-height: 40vh;
  margin-top: 10vh;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.create #stepper-control-row {
  margin-top: 2rem;
  margin-bottom: 1rem;
  justify-content: center;
}

/* Stepper components */

.multi-stepper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.stepper-spacer {
  display: block;
  border-color: #bdbdbd;
  border-top-style: solid;
  border-top-width: 1px;
  width: 50px;
}

@media (max-width: 1000px) {
  .multi-stepper {
    display: none;
  }
}

@media (max-width: 600px) {
  .create #create-col {
    margin-bottom: 10vh;
  }
}
