.annotation-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-top: 4em;
  /* user-select - stops text from being selected on text */
  user-select: none;
}

.annotation-table #container {
  display: flex;
}

.annotation-table #row {
  display: flex;
  padding: 1em;
  margin-top: 1em;
  height: 100%;
  width: 90%;
}

.annotation-table #index-column {
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.annotation-table #index-column #icon {
  font-size: 22px;
  font-weight: bold;
  width: 2em;
  height: 2em;
  margin: auto;
}

.annotation-table #text-column {
  display: flex;
  margin-left: 1em;
  min-height: 2em;
  /* width: 90%; */
}

.annotation-table #actions {
  display: flex;
  flex-direction: column;
  background-color: rgba(211, 211, 211, 0.5);
  margin-top: 1em;
  padding: 0.5em;
  min-height: 2em;
}

.annotation-table #actions #icon {
  font-size: 1.25em;
  text-align: center;
  font-weight: bold;
  color: grey;
  cursor: pointer;
  margin-top: 0.5em;
}

.annotation-table #actions #icon:hover {
  opacity: 0.8;
}
