.paginator {
  display: flex;
  justify-content: center;
  margin: 1rem 0rem 0rem 0rem;
}

.paginator #action-btn {
  display: inline-block;
  padding: 0.1rem 1rem;
  margin: 0.1rem;
  border: 0.1rem solid lightgrey;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: grey;
}

.paginator #action-btn:hover {
  opacity: 0.8;
  color: white;
  background-color: #cfd8dc;
  border: 0.1rem solid lightgrey;
}

.paginator #action-btn:disabled {
  opacity: 0.2;
  color: grey;
  background-color: lightgrey;
  border: 0.1rem solid grey;
}

.pagination > li > span {
  background-color: #607d8b !important;
  border-color: #546e7a !important;
}

.page-link {
  border: 1px solid #cfd8dc;
}

#paginator-detail {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  padding: 0;
  color: #546e7a;
}
