.paginator {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 4em;
}

.paginator #action-btn {
    display: inline-block;
    padding: 0.1em 1em;
    margin: 0.1em;
    border: 0.1em solid lightgrey;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: grey;
}

.paginator #action-btn:hover {
    opacity: 0.8;
    color: white;
    background-color: grey;
    border: 0.1em solid lightgrey;
}

.paginator #action-btn:disabled {
    opacity: 0.2;
    color: grey;
    background-color: lightgrey;
    border: 0.1em solid grey;
}