.text-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tokenize-container {
  display: flex;
  flex-direction: column;
}

.tokenize-container #tokens {
  display: flex;
  flex-wrap: wrap;
}

.tokenize-container #token {
  padding: 0.25em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  border: none;
  vertical-align: center;
  text-align: center;
  border-radius: 4px;
}

.tokenize-container #token:hover {
  opacity: 0.8;
}

.tokenize-container .action-container {
  display: flex;
  margin-top: 0.5em;
  margin-right: auto;
  max-width: 300px;
  justify-content: space-around;
}

.tokenize-container .action-container #action-button {
  display: "inline-block";
  padding: 0.1em 1em;
  margin: 0.1em;
  margin-right: 0.5em;
  border: 0.1em solid lightgrey;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: grey;
}

.tokenize-container .action-container #action-button:hover {
  opacity: 0.8;
  color: white;
  background-color: grey;
  border: 0.1em solid lightgrey;
}

.tokenize-container .action-container #action-button:disabled {
  opacity: 0.2;
  color: grey;
  background-color: lightgrey;
  border: 0.1em solid grey;
}

.tokenize-container .action-container #action-info {
  color: grey;
  margin-left: 2px;
}

#tokenization-gif {
  width: 200px;
}
