/* FEED */
.feed-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  min-height: 100%;
  margin-bottom: 5em;
}

.feed-container #title {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.feed-container #loader {
  display: flex;
  margin: auto;
  margin-top: 5em;
}

.feed-container #loader p {
  font-weight: bold;
  margin-left: 1em;
  font-size: 1.5em;
}

.feed-container #create-project {
  margin: auto;
  text-align: center;
  margin-top: 5em;
  font-size: 2em;
}

/* PROJECT LIST */

.project-list-container {
  width: 75%;
  margin: auto;
  margin-top: 2em;
  max-width: 75vw;
}

.project-list-container #list-item-container {
  display: flex;
  justify-content: space-between;
}

.project-list-container #detail-container {
  width: 25vw;
}

.project-list-container #project-name {
  font-size: 2em;
  font-weight: bold;
  margin: auto;
}

.project-list-container #project-description {
  font-size: 1em;
  margin: auto;
  vertical-align: middle;
}

.project-list-container #project-creation-date {
  font-size: 12px;
  margin: auto;
  margin-top: 1em;
}

.project-list-container #metrics-container {
  display: flex;
  justify-content: space-between;
}

.project-list-container #metrics-container-single {
  margin: 0em 2em 0em 2em;
}

.project-list-container #metrics-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0em;
  margin: auto;
  text-align: center;
}

.project-list-container #metric-icon {
  width: 36px;
  height: 36px;
  font-size: 22px;
  text-align: center;
  border-radius: 50%;
  margin: auto;
  color: white;
  padding-right: 0.1em;
  background-color: grey;
}

.project-list-container #metric-number {
  font-weight: bolder;
  font-size: 1.25em;
  margin: 0em;
}

.project-list-container #metric-title {
  font-size: 0.7em;
  font-weight: bold;
}

.project-list-container #action-container {
  display: flex;
  flex-direction: column;
  font-size: 22px;
}

.project-list-container #action-icon {
  margin: 0em 0.5em 0.5em 0em;
}
