.navbar {
  background-color: #f8f9fa;
  border-bottom: 0.5px solid #cfd8dc;
}

#logo {
  font-size: 22px;
  margin-right: 1em;
}

#menu {
  z-index: 10000;
}

#brand {
  font-size: 40px;
  color: #263238;
}

.nav-link {
  color: #263238;
}

.nav-link:hover {
  color: #607d8b;
}
